
/*BODY*/
body {
    background-image: url(https://www.metroquadrosrl.net/public/images/metroquadro-servizi-prodotti-scontati.jpg); /* Adds a background image with several discounts on a white base */
}

/*WRAPPER*/
.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/*CARD*/
.card {
    background: rgb(255, 255, 255);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 450px;
    border: 4px groove grey;
    overflow-y: auto;
}

.card:hover {
    cursor: pointer;
}

/*H3*/
h3 {
    text-align: center;
    color: rgb(131, 89, 65);
    text-shadow: 1px 1px rgb(177, 187, 42);
}

/*P*/
p {
    text-align: center;
}

/*PRICE*/
.priceClass {
    text-decoration: underline;
    text-shadow: 0.5px 0.5px rgb(110, 42, 42);
}

/*IMAGE*/
img {
    width: 50px;
}

img:hover {
    width: 200px;
}

/*DESCRIPTION*/
.descriptionClass {
    border: 4px double rgba(158, 154, 131, 0.412);
}

/*CATEGORY*/
.categoryClass {
    color: brown;
    text-shadow: 0.5px 0.5px black;
}